.transactions-item{
    background-color: white;
}

.transactions-item_details{
    display: flex;
    &-content{
        width: 100%;
        &-row{
            display: flex;
            justify-content: space-between;
        }
        &-cell{
            flex-basis: 20%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.transactions-item_button{
    display: flex;
}