.transactions-item_details{
    display: flex;
    color: #2c3e50;
    &-content{
        width: 100%;
        padding: 0.5rem;
        &-row{
            display: flex;
            justify-content: space-between;
        }
        &-cell{
            flex-basis: 20%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &--amount{
                flex-basis: 20%;
                font-weight: bold;
                color: #00bc77;
            }
            &--balance{
                flex-basis: 20%;
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }
}

.transactions-item_button{
    display: flex;
}

.negatif{
    color: red;
}